@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap'); 

body
	{
	background-color:white;
  	margin: 0;
		
	}
	
#contener
	{
	width: 100%;
	height:auto; 
	background-color:white;
	margin-left: 0%;
	margin-right: 0%;
  	/*margin-right: 15%;
  	margin-left: 15%; */
	
 
	}

		
header
	{
	 top: 0;
	 position: fixed;
	  z-index: 1;
	height:200px;
	width: 100%;
	margin-right:0%;
  	margin-left: 0%;
	
	
	 

	/*background-color:#1034A6; */
	
	
	
	
	}
	
#header_image{
	height:200px;
	width: 100%;
	background-image: url("../images/image_4.jpg");
	background-repeat:border-radius:12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	}
	
	nav
	{

	
	height:60px;
	
	width: 100%;
	margin:0%;
/*	background-color:red; */
  	
	margin-top:210px
	}
	

	


	
	
	
	section
	{ 
	background-color:white; 
	height:auto;
	width: 100%;
	margin-right: 0%;
  	margin-left: 0%;
	margin-top:0px;
	}
	

	
		
article
	{
	background-color:white;
	height:auto;
	width: 100%;
  	
	margin-left: 0%;
	margin-right: 0%;
	}
	
	
footer
	{
	
	float:left;
	background-color:#454545 ;
	height:150px;
	width: 100%;
	
		margin-top:30px;
  	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	

	}
	
	#nav_photo
	{
	float: left;
	height:200px;
	
	  max-width: 100%;

  	margin-left: 10%;
	margin-right: 0%;
	/*border: 5px solid red;*/
	background-color:white;
	
	
	/*	background-image:url("./images/picture_1.jpg");*/
		
		
	/*background-color:green;*/
  	
	}
	
	aside
	{  
	float: right;
	width: auto;
	height:auto;
	margin-right: 10px;
	background-color:white; 

  	
	}
		
table
	{
	width:80%;
	height:auto;
	margin-left: 10%;
	margin-right: 10%;
	
  	
	}
	
thead
	{
	width: 100%;
	height:40px;
  	color:white;
	
	background-color:black;
	
  	margin: 0;
	}	
	
tbody
	{
	width: 100%;
	height:20px;
  	
	background-color:white;
  	margin: 0;
	}	
	/*
aside
	{  
	float: right;
	width: 50%;
	height:auto;
	margin-right: 0px;
	background-color:white; 

  	
	}
	




	

	
	
#video_1
	{
	float:left;

	height:400px;
	
	  max-width: 100%;
  height: auto;
  /*	margin-left: 20px;
	margin-right: 20px;
	background-color:red;*/
  	margin: 0;
	}
	
#video_2
	{
	float:left;
height:400px;
	
	  max-width: 100%;
	

  /*	margin-left: 20px;
	margin-right: 20px;
	background-color:green;*/
  	margin: 0;
	}
	
hr{
  
 border: 1px solid red;
}
	
#share {
  text-align: center;
  display: inline-block;
  width: 180px;
  padding: 5px 0;
  background: #0174b2;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}


/*Progress bar */

.progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
}

.progress-bar {
  height: 10px;
  background: #04AA6D;
  width: 0%;
}
	
.zoom {
  padding: 50px;
 /* background-color: green;*/
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* Responsiv  */


	*/

	


